.App {
    font-family: sans-serif;
    text-align: center;
  }
  .FormForSearch {
    font-family: sans-serif;
    text-align: center;
  }
  
  li {
    list-style: none;
    text-align: start;
  }

  p {
    margin-top: 30px;
  }